
body{
	font-family: arial;
	font-size: 18px;
	margin: 0;
	background-color: rgb(230, 196, 196);
	color: #000;
	display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.bt_f{
	margin-left: 125;
	width: 120px;
	padding: 8px 20px;
	background: #f1530a;
	border: 2px solid #7b3af3;
	color: rgb(0, 0, 0);
	font-size: 18px;
	cursor: pointer;
	border-radius: 10px;
  }
  .bt_f:hover {
	background-color:#be9aff;
	transition: 0.7s;
  }
.bt_l{
	width: 120px;
	padding: 8px 20px;
	background: #f1530a;
	border: 2px solid #7b3af3;
	color: rgb(0, 0, 0);
	font-size: 18px;
	cursor: pointer;
	border-radius: 10px;
  }
  .bt_l:hover {
	background-color:#be9aff;
	transition: 0.7s;
  }
  .bt_s{
	width: 120px;
	padding: 8px 20px;
	background:#f1530a;
	border: 2px solid #050505;
	color: rgb(0, 0, 0);
	font-size: 18px;
	cursor: pointer;
	border-radius: 10px;
  }
  .bt_s:hover {
	background-color:#ffaeae;
	transition: 0.7s;
  }
  .bt_r{
	width: 120px;
	padding: 8px 20px;
	background: #f1530a;
	border: 2px solid #7b3af3;
	color: rgb(0, 0, 0);
	font-size: 18px;
	cursor: pointer;
	border-radius: 10px;
  }
  .bt_r:hover {
	background-color:#be9aff;
	transition: 0.7s;
  }
  .bt_b{
	margin-left: 125;
	width: 120px;
	padding: 8px 20px;
	background: #f1530a;
	border: 2px solid #7b3af3;
	color: rgb(0, 0, 0);
	font-size: 18px;
	cursor: pointer;
	border-radius: 10px;
  }
  .bt_b:hover {
	background-color:#be9aff;
	transition: 0.7s;
  }
